<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ChatRoom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
    </ul>
     <div class="my-2">
     <ul class="navbar-nav mr-auto container">
     <li class="nav-item dropdown account">
     
     <% if user_signed_in? %>
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username%>
      </a>

        <% else %>
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
      </a>
     <% end %>
     
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item dropdown">
      <% if user_signed_in? %>
        <%= link_to 'Log Out',  destroy_user_session_path, class: "btn btn-primary" %>
        <% else %>
     <%= link_to 'Log in',   new_user_session_path, class: "btn btn-primary" %>
      <% end %>
       
      </li>
     </ul>
      
     
     </div>
  </div>
</nav>